* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, rgba(14, 12, 31, 1) 15%, rgba(79, 67, 188, 1) 100%);
}

form {
    width: 35vw;
    padding: 5% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    background-color: #0e0c1f;
    border: 3px solid #3f43bc;
    border-radius: 100px;
    animation-name: formAmbientLight;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#formName {
    font-size: 2rem;
    color: #68e0cc;
    text-align: center;
    padding-bottom: 5%;
}

label {
    color: #68e0cc;
    font-size: 1.2rem;
}

[type='text'],
[type='email'],
[type='password'] {
    padding: 2% 5%;
    width: 60%;
    border: 2px solid #4f43bc;
    border-radius: 2rem;
    background-color: #0e0c1f;
    color: #68e0cc;
    font-size: 1.3rem;
    text-align: center;
    transition-property: filter;
    transition-duration: .5s;
    transition-timing-function: ease-out;
}

[type='password']:focus,
[type='email']:focus,
[type='submit']:focus {
    outline: none;
    filter: drop-shadow(0 0 20px #4f43bc);
}

[type='submit'] {
    padding: 2% 10%;
    color: #68e0cc;
    background-color: #0e0c1f;
    border: 2px solid #4f43bc;
    border-radius: 2rem;
    filter: drop-shadow(0 0 10px #4f43bc);
    margin-top: 2%;
    cursor: pointer;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

[type='submit']:hover {
    filter: drop-shadow(0 0 10px #68e0cc);
    color: #4f43bc;
}

[type='submit']:focus {
    background-color: #1b173c;
}

@keyframes formAmbientLight {
    0% {
        filter: drop-shadow(0 0 0px #68e0cc);
    }

    50% {
        filter: drop-shadow(0 0 30px #68e0cc);
    }

    100% {
        filter: drop-shadow(0 0 0px #68e0cc);
    }
}

@media only screen and (max-width: 1400px) {
    form {
        width: 50%;
    }
}

@media only screen and (max-width: 1000px) {
    [type='text'],
    [type='email'],
    [type='password'] {
        width: 75%;
        font-size: 1rem;
    }

    #formName {
        font-size: 1.7rem;
    }

    form {
        border-radius: 75px;
    }
    
    label {
        color: #68e0cc;
        font-size: 1.1rem;
    }

    [type='submit'] {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 768px) {
    form {
        width: 70%;
        border-radius: 50px;
    }

    [type='text'],
    [type='email'],
    [type='password'] {
        width: 65%;
    }
}

@media only screen and (max-width: 600px) and (min-width: 280px) {
    #formName {
        font-size: 1.2rem;
        margin-top: 5%;
    }
    
    form {
        row-gap: 2rem;
        border-radius: 35px;
        padding: 10% 0%;
        width: 80%;
    }
    
    label {
        color: #68e0cc;
        font-size: .9rem;
    }
    
    [type='text'],
    [type='email'],
    [type='password'] {
        width: 80%;
        font-size: .8rem;
    }

    [type='submit'] {
        font-size: .8rem;
        margin-bottom: 5%;
    }

    @keyframes formAmbientLight {
        0% {
            filter: drop-shadow(0 0 0px #68e0cc);
        }
    
        50% {
            filter: drop-shadow(0 0 15px #68e0cc);
        }
    
        100% {
            filter: drop-shadow(0 0 0px #68e0cc);
        }
    }
}

@media only screen and (max-height:767px) and (orientation: landscape) {
    body {
        height: initial;
        padding: 5% 0%;
    }
    
    form {
        padding: 3% 0%;
        row-gap: 1.2rem;
    }
}